/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
docker-compose.override.yml
docker/mysql/*.sock
docker/mysql/*.cnf
docker/mysql/*.index
docker/mysql/ib_buffer_pool
docker/mysql/*.err
docker/mysql/*.pid
docker/mysql/auto.cnf
docker/mysql/#*#
docker/mysql/*.log
docker/mysql/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
